.footer_address ul {
  list-style: none;
  padding: 0px;
}
.logo_and_name {
  display: flex;
  align-items: center;
  color: green;
}
.logo_and_name img {
  width: auto;
  height: 3rem;
}
.footer_address .col-md-4 {
  padding: 2rem;
}
.copyright_notice .col-md {
  display: flex;
  justify-content: center;
}
.footer_link_heading b{
    border-top:2px solid green ;
}
.footer_link a{
    color: black;
    text-decoration: none;
}
.footer_link{
    background-color: rgba(209, 206, 7, 0.527);
    padding: 2rem;
}
ul.footer_link_second_part{
    padding-top: 2rem;
}